* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding doesn't break widths */
}

body, html, #app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Locks the main window */
}

#app {
  max-width: none;
  display: block; 
}

/* FIX UI FOR DARK MODE UI HERE */
/* 
body.dark-theme {
  background-color: #1a1a1a;
  color: #ffffff;
}

body.dark-theme .stat-card{
  background-color: #2d2d2d;
  color: white;
}

body.dark-theme .sidebar {
  background-color: #1a1a1a;
}
body.dark-theme .icon-circle i {
  color: #1a1a1a;
}

body.dark-theme h1, body.dark-theme h3 {
  color: #00ff73; 
} */