* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding doesn't break widths */
}

body, html, #app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Locks the main window */
}

#app {
  max-width: none;
  display: block; 
}